*-compiled.js
*-compiled.js.map
node_modules
.idea
.DS_Store
npm-debug.log
dist/bundle.js
.jshintrc
.tern-port
webpack-assets.json
newrelic_agent.log
dist/
.env
/build
.vscode
elasticsearch.log
/newrelic.js
elasticsearch.log
stats.json
tmp/
